doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style2.css")
        title Your Weather
    body 
        div#container 
            img(src=`${icon}`, alt="", srcset="")
            div.middle
                p#temp #{tempF}F
                h1  #{cityName}
                p#temp #{tempC}C  
            br
            p #{condition} 
            p Local Time: #{localTime}
            div.getHome
                a(href='//localhost:3000')
                    button(id="Home-Button") Find Another!
        br  
        br

        
             
